.moviesCard {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
    background: #2F2F2F;
}
.moviesCard__info {
    margin: 0;
    padding: 0 0 0 22px;
}
.moviesCard__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.moviesCard__time {
    margin: 13px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
}
.moviesCard__like, .moviesCard__like-active, .moviesCard__delete {
    margin: 30px 0 0;
    padding: 0;
    width: 14px;
    min-height: 12px;
    border: none;
}
.moviesCard__like:hover, .moviesCard__like-active:hover, .moviesCard__delete:hover {
    opacity: 0.8;
    cursor: pointer;
}
.moviesCard__like {
    background: url("./../../images/like.svg") center no-repeat;
}
.moviesCard__like-active {
    background: url("./../../images/like-active.svg") center no-repeat;
}
.moviesCard__delete {
    background: url("./../../images/close.svg") center no-repeat;
}
.moviesCard__button-none {
    display: none;
}
.moviesCard__link {
    display: block;
    margin: 0;
    padding: 6px;
    width: 220px;
    height: 122px;
    text-decoration: 0;
}
.moviesCard__photo {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 385px) {
    .moviesCard {
        position: relative;
        flex-direction: column-reverse;
        align-items: baseline;
        height: 232px;
    }
    .moviesCard__info {
        padding: 0 12px 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 60px;
    }
    .moviesCard__time {
        margin: 0;
    }
    .moviesCard__like-active {
        margin: 0;
    }
    .moviesCard__title {
        font-size: 12px;
        line-height: 15px;
    }
    .moviesCard__link {
        height: 168px;
        padding: 0;
        background-color: #202020;
    }
    .moviesCard__photo {
        width: 100%;
        margin: 0;
    }
    .moviesCard__like-active {
        position: absolute;
        right: 16px;
        bottom: 35px;
    }
}




