.main-header {
    padding: 0 70px 60px;
    margin: 0;
    background-color: #073042;
}
.main-header__top {
    padding: 0;
    margin: 0;
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header__nav {
    padding: 0;
    margin: 0;
}
.main-header__register {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}
.main-header__login {
    display: inline-flex;
    padding: 0;
    margin: 0 0 0 30px;
    width: 76px;
    height: 32px;
    background: #3DDC84;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
}
.main-header__cover{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    padding: 0;
}
.main-header__title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    max-width: 626px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.main-header__img {
    margin: 102px 0 0;
    padding: 0;
    align-self: flex-end;
    max-width: 722px;
    min-height: 244px;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}
.content {
    margin: 0;
    padding: 0;
}
.line {
    margin: 23px 0 0;
    padding: 0;
    background: #DADADA;
    width: 100%;
    height: 1px;
}
.main-header__logo {
    margin: 0;
    padding: 0;
    display: block;
    width: 38px;
    min-height: 38px;
    background: url("../../images/headerLogo.svg") no-repeat;
}


@media (max-width: 600px) {
    .main-header__title {
        font-size: 31px;
        line-height: 39px;
        padding: 0 10px;
    }
    .main-header {
        padding: 0 10px 30px;
    }
    .main-header__cover{
        display: flex;
        flex-direction: column;
        margin: 183px 0 0 0;
        padding: 0;
    }
    .main-header__img {
        object-fit: cover;
        margin-top: 60px;
        overflow: hidden;
    }
}
@media (max-width: 820px) {
    .main-header__img {
        align-self: center;
        max-width: 100%;
    }
}
