.portfolio {
    padding: 100px 70px 125px;
    margin: 0;
    background-color: #202020;
}
.portfolio__title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 0 50px 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    mix-blend-mode: normal;
}
.portfolio__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.portfolio__name {
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-decoration: none;
    color: #FFFFFF;
}
.portfolio__ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}
.portfolio__link {
    margin: 0;
    padding: 0;
    width: 29px;
    height: 60px;
    color: #202020;
    background-image: url('/src/images/arrow.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.line {
    list-style-type: none;
}

@media (max-width: 600px) {
    .portfolio {
        padding: 0 18px 70px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio__name {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio__link {
        width: 18px;
        height: 28px
    }
    .portfolio__item {
        margin-top: 20px;
    }
}
