.techs {
    padding: 100px 70px;
    margin: 0;
    background-color: #272727;
}
.techs__title {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.techs__main-text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 90px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.techs__text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 26px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.techs__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 690px; */
    margin: 90px auto 0;
    padding: 0;
}
.techs__technology {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 10px 0 0;
    padding: 0;
    width: 90px;
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #303030;
    border-radius: 10px;
}
/* .techs__technology:last-child {
    margin-right: 0;
} */
@media (max-width: 830px) {
    .techs__technology {
        height: 57px;
        width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
    /* .techs__row {
        max-width: 668px;
    } */
}

@media (max-width: 600px) {
    .techs {
        padding: 70px 10px;
        background: #202020;
    }
    .techs__title {
        font-size: 30px;
        line-height: 36px;
    }
    .techs__line {
        margin-top: 28px;
        background: black;
    }
    .techs__main-text {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }
    .techs__text {
        font-size: 11px;
        line-height: 16px;
    }
}
