.footer {
    margin: 0;
    padding: 79px 70px 20px;
    background: #202020;
}
.footer__text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8B8B8B;
}
.footer__row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    padding: 0;
}
.footer__yers {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer__links {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}
.footer__link {
    text-decoration: none;
    margin: 0 0 0 20px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.footer__link:first-child {
    margin: 0;
}
.footer__line {
    background: #424242;
}


@media (max-width: 800px) {
    .footer {
        padding: 79px 15px 10px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 79px 18px 10px;
    }
    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }
    .footer__line {
        margin-top: 21px;
    }
    .footer__row {
        margin-top: 30px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__link:last-of-type {
        margin-top: 12px;
        margin-bottom: 30px;
    }
    .footer__link {
        margin: 0;
    }
}