.header {
    margin: 0;
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #202020;
    position: relative;
}
.header__films {
    display: block;
}
.header__text {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;   
}
.header__all-films, .header__save-films {
    font-size: 13px;
    line-height: 18px;
}
.header__text_acc {
    display: block;
}
.header__account {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100px;
    min-height: 30px;
}
.header__save-films {
    padding: 0;
    margin: 0 0 0 16px;
}
.header__user {
    background: #313131;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 26px;
    min-height: 30px;
}
.header__logo {
    margin: 0;
    padding: 0;
    display: block;
    width: 38px;
    min-height: 38px;
    background: url("../images/headerLogo.svg") no-repeat;
}
.header__user_logo {
    display: inline-block;
    width: 12px;
    min-height: 14px;
    padding: 0;
    background: url("../images/user-logo.svg") no-repeat center;
}
.header__burger {
    margin: 0;       
    padding: 0;
    display: none;
    width: 12px;
    min-height: 14px;
}

@media (max-width: 800px) {
    .header {
        padding: 15px 30px;
    }
    .header__films {
        display: none;
    }
    .header__text_acc {
        display: none;
    }
    .header__account {
        justify-content: end;
    }
    .header__user {
        background: #202020;
    }
    .header__user_logo {
        display: none;
    }
    .header__popup {
        justify-content: end;
        align-items: center;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }
    .popup__container {
        margin: 0;
        padding: 0;
        height: 100vh;
        background:  #202020;
    }
    .popup__container-left {
        background: black;
        opacity: 0.7;
        width: 33%;
    }
    .popup__container-right {
        margin: 0;
        background: #202020;
        width: 67%;
    }
    .popup__close {
        display: block;
        margin: 0 0 0 auto;
        padding: 22px 22px 0 0;
        width: 22px;
        height: 22px;
        background: url("../images/close.svg") no-repeat center;
    }
    .popup__navigation {
        margin: 105px 0 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popup__link  {
        margin: 28px 0 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        border: none;
        text-decoration: none;
    }
    .header__account_popup {
        display: flex;
        margin: 60% auto 0;
        padding: 0;
        align-items: center;
    }
    .header__user_popup {
        background: #313131;
        border-radius: 4px;
    }
    .header__user_logo_popup {
        display: block;
    }
    .header__burger {
        width: 44px;
        min-height: 44px;
        display: block;
        background: url("../images/burger.svg") no-repeat center;
        border: none;
    }
    .header__text_popup {
        display: block;
        margin-right: 17px;
    }
}
@media (max-width: 385px) {
    .header {
        padding: 18px 10px;
    }
}

.display-flex {
    display: flex;
}
.display-block {
    display: block;
}
.display-none {
    display: none;
}

.header__burger:hover, .header__user_logo:hover, .header__logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.active {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}